# --- ZOOKEEPER SERVICE ---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: cqrs-system
spec:
  ports:
    - port: 2181
      name: client
  selector:
    app: zookeeper
---
# --- ZOOKEEPER DEPLOYMENT ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: cqrs-system
spec:
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: confluentinc/cp-zookeeper:7.5.0
          ports:
            - containerPort: 2181
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              value: "2181"
            - name: ZOOKEEPER_TICK_TIME
              value: "2000"
            - name: KAFKA_HEAP_OPTS
              value: "-Xmx256M -Xms256M"

---
# --- KAFKA SERVICE (HEADLESS) ---
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: cqrs-system
  labels:
    app: kafka
spec:
  ports:
    - port: 9092
      name: plaintext
  clusterIP: None
  selector:
    app: kafka

---
# --- KAFKA SERVICE (NORMAL) ---
apiVersion: v1
kind: Service
metadata:
  name: kafka-cluster
  namespace: cqrs-system
  labels:
    app: kafka
spec:
  ports:
    - port: 9092
      name: plaintext
  selector:
    app: kafka

---
# --- KAFKA STATEFULSET ---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: cqrs-system
spec:
  serviceName: kafka-headless
  replicas: 3
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.5.0
          ports:
            - containerPort: 9092
          env:
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "zookeeper:2181"
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: "PLAINTEXT:PLAINTEXT"
            - name: KAFKA_INTER_BROKER_LISTENER_NAME
              value: "PLAINTEXT"
            - name: KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR
              value: "3"
            - name: KAFKA_MIN_INSYNC_REPLICAS
              value: "2"
            - name: KAFKA_DEFAULT_REPLICATION_FACTOR
              value: "3"
            - name: KAFKA_HEAP_OPTS
              value: "-Xmx512M -Xms512M"
          
          command:
            - sh
            - -c
            - |
              export KAFKA_BROKER_ID=${HOSTNAME##*-}
              echo "Starting Broker ID: $KAFKA_BROKER_ID"

              export KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
              
              export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${HOSTNAME}.kafka-headless.cqrs-system.svc.cluster.local:9092
              echo "Advertised Listener: $KAFKA_ADVERTISED_LISTENERS"

              /etc/confluent/docker/run
